{% extends "base_generic.html" %}


{% block title %}<title>индекс.хтмл</title>{% endblock %}


{% block content %}
  <h1>Икея для бедных</h1>
  <p>Сводка:</p>
  <ul>
    <li><strong>Всего видов товаров:</strong> {{ num_furniture }}</li>
    <li><strong>Экземпляров товаров:</strong> {{ num_instances }}</li>
    <li><strong>Доступных товаров:</strong> {{ num_instances_available }}</li>
    <li><strong>Брендов:</strong> {{ num_brands }}</li>
    <li><strong>Российских брендов:</strong> {{ num_brands_from_Russia }}</li>
  </ul>
TEST: {{ basket}} <br><br>
  <p>Посещений этой страницы: {{ num_visits }} </p>
{% endblock %}
