{% extends "base_generic.html" %}

{% block content %}
  <h1>Производитель {{ brand.name }}</h1>

  <p><strong>Страна:</strong> {{ brand.country}}</p>
  <p><strong>Контакты:</strong> {{ brand.description}}</p>

  <a href="{% url 'brand-update' brand.id %}"> Изменить бренд </a><br>
  <a href="{% url 'brand-delete' brand.id %}"> Удалить бренд </a>

  <div style="margin-left:20px;margin-top:20px">
    <h4>Товары</h4>
    {% for copy in brand.get_published_furniture %}
      <hr>
      <a href="{{ copy.get_absolute_url }}">{{ copy.name }}</a>
      <div>(всего: {{copy.furnitureinstance_set.all.count}}, доступно: {{copy.get_available_amount}})</div>


      <p style="text-transform: capitalize;">{{copy.display_type}}</p>
      <p class="text-muted"><strong>Id:</strong> {{ copy.id }}</p>
<!--{{copy.id}}-->
    {% endfor %}
  </div>
{% endblock %}