{% extends "base_generic.html" %}

{% load static %}
<head>
{% block mycss %}<link rel="stylesheet" href="{% static 'css/styles.css' %}"> {% endblock mycss %}
</head>


{% block content %}
  <h1>Название: {{ furniture.name }}</h1>

  <p><strong>Производитель:</strong> <a href="{{ furniture.brand.get_absolute_url }}">{{ furniture.brand }}</a></p>
  <p><strong>Тип:</strong> {{ furniture.type.all|join:", " }}</p>

  <figure>
    {% if furniture.image %}
      <img src="{{ furniture.image }}" alt="Картинка пропала :(" style="width:300px; height:auto;">
    {% else %}
      <img src="http://placekitten.com/200/203">
      <figcaption class="text-danger"> Картинку украли, зато есть котятки </figcaption>
    {% endif %}

  </figure>

  <p><strong>Описание:</strong> {{ furniture.description }}</p>
  <p><strong>Цена:</strong> всего <strong> {{ furniture.price }}</strong>!  </p>
  <p><strong>ISBN:</strong> {{ furniture.isbn }}</p>
  <a href="{% url 'furniture-update' furniture.id %}"> Изменить товар </a><br>
  <a href="{% url 'furniture-delete' furniture.id %}"> Удалить товар </a>

  <div style="margin-left:20px;margin-top:20px">
    <h4>Наличие:</h4>
    {% if perms.catalog.worker %}
      <a href="{% url 'furnitureinstance-create' %}">Создание экземпляра </a>

      {% for copy in furniture.furnitureinstance_set.all %}
      <div class="furniture_inst" style="
            border: 3px solid {% if copy.status == 'a' %} #73AD21 {% elif copy.status == 'n' %} red {% else %} #ffc107 {% endif %};" >

        <div>
          <p style="margin:0px;" class="{% if copy.status == 'a' %}text-success{% elif copy.status == 'n' %}text-danger{% else %}text-warning{% endif %}">
            {{ copy.get_status_display }}
          </p>
          <p style="margin:0px;">
            {{ copy.delivery }}
          </p>
          <p style="margin:0px;" class="text-muted"><strong>Id:</strong> {{ copy.id }}<br>
            <a href="{% url 'furnitureinstance-update' copy.id %}">Обновить состояние </a>
          </p>
        </div>

              {% if copy.status == 'a' %}
                 <a target="_self"
                    class="add-to-basket"
                    href="{% url 'add-to-basket' copy.id %}?next={{request.path}}">
                    В корзину!
                  </a>
              {% endif %}
      </div>
      {% endfor %}

    {% else %}
        {% if furniture.get_available_amount == 0 %}
            <p class="text-warning"> Товар закончился, подпишитесь на нашу рассылку, чтоб первыми узнать о поступлении!</p>
        {% endif %}

        {% for copy in furniture.furnitureinstance_set.all %}
          {% if copy.status != 'n' %}
            <div class="furniture_inst" style="
            border: 3px solid {% if copy.status == 'a' %} #73AD21 {% elif copy.status == 'n' %} red {% else %} #ffc107 {% endif %};">
              <div>
                <p style="margin:0px;" class="{% if copy.status == 'a' %}text-success {% else %}text-warning{% endif %}">
                  {{ copy.get_status_display }}
                </p>
                <p style="margin:0px;">
                  {{ copy.delivery }}
                </p>
              </div>
              {% if user.is_authenticated %}
                  {% if copy.status == 'a' %}
                      <a target="_self"
                        class="add-to-basket"
                        href="{% url 'add-to-basket' copy.id %}?next={{request.path}}">
                        В корзину!
                      </a>
                  {% endif %}
              {% else %}
                <a class="add-to-basket" href="{% url 'login'%}?next={{request.path}}">Авторизуйтесь для покупки!</a>
              {% endif %}
            </div>
          {% endif %}
      {% endfor %}
    {% endif %}
  </div>
{% endblock %}